@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body{
    font-family: 'Poppins',  sans-serif;
    background-color: #eee;
    margin: 0;
    border: 0;
    padding: 0;
}

#navbar{
    position: fixed;
    top: 0;
    background-color: #fff;
    padding-top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 20px #000;
}

#main{
    margin-top: 150px;
}

.sobre-mim{
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tecnologias{
    background-color: #fff;
    margin: 20px;
}

.img-proj{
    width: 400px;
    height: 225px;
}

#projetos{
    background-color: #fff;
    margin: 20px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flip-card{
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card:hover .flipper{
    transform: rotateY(180deg);
}

.flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.0s;
    transform-style: preserve-3d;
}

.tras{
    transform: rotateY(180deg);
}

.frente, .tras{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#footer{
    background-color: #fff;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-right: 0;
}

.sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tm-social{
    width: 50px;
    height: 50px;
    padding: 30px;
}

.copy{
    text-align: center;
}